*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

<<<<<<< HEAD
.body{
   display: grid;
   background-color: black;
   grid-template-columns: 20% 20% 20% 20% 20%;
   grid-template-rows:    20vh 60vh  20vh;
   grid-template-areas: "header header header header   clima"
                        "prod   prod   prod   terminar terminar"
                        "foot   foot   foot   foot     foot";
   
}
    .header{
        grid-area: header;  
        background: orange;
        display: flex;
        justify-content: center;
        box-shadow:1px 1px 10px black inset;
        align-items: center;
 
    }
            .titulo{
                font-size: 80px;
                font-family: 'Corinthia', cursive;
                font-style: italic;
                color: black;
                font-weight: bolder;
            }
    
            #clima{
                grid-area: clima;
                background-color: black;    
                padding: 0;
                margin: 0;
                border-radius: 6px;
            }
            #clima div{
                color: orange;
                font-size: 12px;
                
            }
            #clima div h3{
                text-align: center;
                margin-top: 30px;
            }
            #clima div div{
                display: flex;
                justify-content: space-around;
                flex-wrap: nowrap;
            
            } 
            
      
    .main{
        grid-area: prod;
        background: black;
        box-shadow:1px 1px 10px black;
        overflow: hidden;
        overflow-y: scroll;
        color: aliceblue;
        font-size: 16px;
        font-weight: bold;
        box-shadow:1px 1px 10px orange inset;
        display: flex;
        flex-wrap: wrap;
    
    }
            .producto img{
                max-height: 200px;
                width: auto;    
                border-radius: 20px;  
                
            }
    
   
            .areaTicket{
                grid-area: terminar;
                background-color: black;
                box-shadow:1px 1px 10px orange inset;
                color: aliceblue;
                overflow: hidden;
                overflow-y: scroll;
            }
  
            #mensaje h2{
                text-align: center;   
            }
            #mensaje div{
                display: flex;
                justify-content: space-around;
                align-items: baseline;
                
            }
    .footer{
        grid-area:foot ;
        display: flex;
        justify-content: space-around;
        height: 100%;
        background-color: rgb(255, 166, 0);
        box-shadow:1px 1px 10px black inset;
        text-transform: uppercase;
        font-size: 12px;
    }
    
            .foot-izq p a{
                text-decoration: none;
                color: black;
                font-weight: bold;
            
            }
            .foot-der p{
                color: black;
                font-weight: bold;
            }
  
 





@media all and (max-width: 1050px){

        .body{
            grid-template-columns: 80vw;
            grid-template-rows:    15vh 10vh 50vh 40vh 15vh;
            grid-template-areas: "header"
                                "clima"
                                "prod"
                                "terminar"
                                "foot";
            
        }
        .titulo{
            font-size: 60px;
    
        }
        #clima div{
            display: flex;
            justify-content: space-around;
            
        }

}

=======
.titulo{
    font-size: 75px;
    font-family: 'Corinthia', cursive;
    font-style: italic;
    color: #583D72;
    font-weight: bolder;
}
   
.card-title{
    font-size: 12px;
    
}  

#verClima{
    background-color: black;
    color: lawngreen;
    text-align: center;
    border-radius: 7px;
    box-shadow: 2px 2px 4px #1a374d;
}
    #verClima h3{
         color: darkorange;
         font-size:larger;

    }
    #verClima p{
         font-size: small;  
    }



#mensaje{
    background-color: #B1D0E0; 
    text-align: center;
    border-radius: 7px;
    box-shadow: 1px 0px 10px #1a374d;
}
    #mensaje h3{
        color:#1A374D ;
        font-size: large;
        text-align: center;
        padding-top: 5px;
    }
    #mensaje div{
        display: flex;
        justify-content: space-around;
    }
    #mensaje div h4{
        color:#1A374D ;
        font-size: medium;
        
    }
    #mensaje div span{
        color:#1A374D ;
        font-size:medium;  
      
            
    }
    #mensaje p{
        color:#082032 ;
        font-size:large; 
        font-weight: bolder;  
        justify-content: center; 
    }

    .card:hover{
        background:#B1D0E0;
        color: #FF5151;
        box-shadow: 1px 1px 15px #1a374d;
    } 
>>>>>>> 280d9b411c9427ca18d076cabf0f5b76f82dc038
